body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 0;
  width: 80%;
  background-color: #f6f6f6;
}

h1,
h2,
h3 {
  color: #1d1d1d;
}

.btn-primary {
  background-color: #611f69;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn-outline {
  background: none;
  border: 2px solid #611f69;
  padding: 10px 20px;
  cursor: pointer;
}
.logo {
  cursor: pointer;
}

.nav-buttons span {
  padding: 10px;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  flex: auto;
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}
.notification {
  background-color: blue;
  border-radius: 3rem;
  padding: 1rem;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #f9f5f3;
}
.hero span {
  font-size: xx-large;
  font-weight: bold;
}
.sign-up {
  background: blue;
  color: white;
  border: 2px solid #611f69;
  padding: 10px 20px;
  cursor: pointer;
}
.hero-content {
  max-width: 50%;
}

.hero-buttons {
  display: flex;
  gap: 10px;
}

/* Trusted By */
.trusted {
  text-align: center;
  padding: 0 40px;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Feature Section */
.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.watch-video {
  background-color: wjite;
  color: #611f69;
  padding: 10px 20px;
  border: 1px solid #611f69;
  cursor: pointer;
}
.feature-image img {
  width: 100%;
  max-width: 400px;
}

.feature-content {
  max-width: 50%;
}
